* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section .label {
  position: absolute;
  top: 20px;
  left: 20px;
  background: white;
  padding: 10px;
  font-family: cursive;
  font-size: 1.5rem;
  border-radius: 5px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

/* loader 1 */
section:nth-child(1) {
  background: #042104;
  animation: animateBg 10s linear infinite;
}
@keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
section:nth-child(1) .loader {
  position: relative;
  width: 120px;
  height: 120px;
}
section:nth-child(1) .loader span {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
section:nth-child(1) .loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  animation: animateSize 1s linear infinite;
  animation-delay: calc(0.05s * var(--i));
}
@keyframes animateSize {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}

/* Loader 2 */
section:nth-child(2) {
  background: #102626;
  -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}
section:nth-child(2) .loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #0d2323;
  animation: animateLoader2 1s infinite;
}
@keyframes animateLoader2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section:nth-child(2) .loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgb(0, 255, 249, 0.4));
  background-repeat: no-repeat;
  background-size: 180px 180px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
section:nth-child(2) .loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #00fff9;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9,
    0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9,
    0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
}
section:nth-child(2) .loader span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: #0d2323;
  border-radius: 50%;
}

/* Loader 3 */
section:nth-child(3) {
  background: black;
}
section:nth-child(3) .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
}
section:nth-child(3) .loader span {
  position: relative;
  height: 40%;
  width: 10%;
  background: white;
  margin: 0px 5px;
  animation: animateLoader3 2000ms linear infinite;
  animation-delay: calc(400ms * var(--i));
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}
@keyframes animateLoader3 {
  0% {
    height: 40%;
  }
  40%,
  50%,
  60% {
    height: 1%;
  }
  100% {
    height: 40%;
  }
}

/* Loader 4 */
section:nth-child(4) {
  background: white linear-gradient(215deg, black, #000000d6);
}
section:nth-child(4) .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
}
section:nth-child(4) .loader span {
  position: relative;
  height: 20px;
  width: 20px;
  background: #00ff0a;
  margin: 0px 5px;
  animation: animateLoader4 1200ms linear infinite;
  animation-delay: calc(300ms * var(--i));
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 30px #00ff0a;
  border-radius: 50%;
}
@keyframes animateLoader4 {
  0% {
    transform: scale(1);
  }
  75%,
  100% {
    transform: scale(0);
  }
}

/* Loader 5 */
section:nth-child(5) {
  background: #004242;
  -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}
section:nth-child(5) .loader {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: animateLoader5 2s linear infinite;
  border: 4px solid grey;
}
@keyframes animateLoader5 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
section:nth-child(5) .loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: grey;
  border-radius: 50%;
  z-index: 2;
}

/* Loader 6 */
section:nth-child(6) {
  background: rgb(190, 190, 190);
}
section:nth-child(6) .loader {
  position: relative;
  width: 100px;
  height: 100px;
}
section:nth-child(6) .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
section:nth-child(6) .loader span::after {
  content: "";
  width: 100%;
  height: 20px;
  background: radial-gradient(rgba(0, 0, 0, 0.1), transparent);
  position: absolute;
  bottom: -40px;
  border-radius: 50%;
}
section:nth-child(6) .loader span:nth-child(1) {
  background: rgb(68, 81, 255);
  animation: animate6 1500ms linear infinite;
}
section:nth-child(6) .loader span:nth-child(2) {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  left: 50%;
  animation: animate6 1500ms linear infinite;
  animation-delay: 750ms;
}
@keyframes animate6 {
  0%,
  100% {
    left: -50%;
  }
  50% {
    left: 50%;
  }
}

/* Loader 7 */
section:nth-child(7) {
  background: rgb(165, 165, 165);
}
section:nth-child(7) .loader {
  position: relative;
  width: 100px;
  height: 100px;
}
section:nth-child(7) .loader span {
  position: absolute;
  border-radius: 50%;
}
section:nth-child(7) .loader span:nth-child(2)::after {
  content: "";
  width: 100%;
  height: 20px;
  background: radial-gradient(rgba(0, 0, 0, 0.1), transparent);
  position: absolute;
  bottom: -40px;
  border-radius: 50%;
}

section:nth-child(7) .loader span:nth-child(1) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  animation: animate7 1s linear infinite;
  transform: rotate(0deg);
  border: 50px solid;
  border-color: transparent transparent transparent rgb(255, 0, 149);
}

/* section:nth-child(7) .loader span:nth-child(1)::before {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  background: rgb(255, 0, 149);
} */
section:nth-child(7) .loader span:nth-child(2) {
  top: 7px;
  bottom: 7px;
  left: 7px;
  right: 7px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
@keyframes animate7 {
  100% {
    transform: rotate(360deg);
  }
}
/* Loader 8 */
section:nth-child(8) {
  background: #ec407a;
}
section:nth-child(8) .loader {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(45deg);
}
section:nth-child(8) .loader span {
  position: absolute;
  border: 15px solid #fff;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 10px 0 #c4c4c4, inset 0 10px 0 #c4c4c4;
  animation: animate8 3s ease-in-out infinite;
  animation-delay: calc(1s * var(--i));
  transform: translateZ(100px)
}
@keyframes animate8 {
  0% {
    width: 35%;
    height: 35%;
    transform: translateZ(100px);
  }
  25% {
    width: 100%;
    height: 100%;
    transform: translateZ(-100px);
  }
  50% {
    width: 100%;
    height: 100%;
    transform: translateZ(100px);
  }
  75% {
    width: 35%;
    height: 35%;
    transform: translateZ(-100px);
  }
  100% {
    width: 35%;
    height: 35%;
    transform: translateZ(100px);
  }
}
